.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.DS_Store
.idea/
.vscode/

checkpoints/
outputs/
logs/
wandb/

data/representation/**
!data/representation/
!data/representation/dataset-t2d/
!data/representation/dataset-t2d/cta/
!data/representation/dataset-t2d/cta/*.pkl
!data/representation/dataset-t2d/cpa/
!data/representation/dataset-t2d/cpa/*.pkl
